@import '../../assets/scss/_mixins';
@import '../../assets/scss/_variables';

.signup {
    width: 80%;
    margin: 10vh auto;

    form {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 2rem;

        .formRow {
            margin-top: 0px;
        }
    }

    &:hover {
        @include shadow(0px, 10px, 20px, $black, .1);
    }
}