@import '../../../assets/scss/_mixins';
@import '../../../assets/scss/_variables';

.btn {
    display: block;
    width: 100%;
    margin: 0;
    padding: .8rem 0;
    background: $black;
    border: 1px solid $black;
    color: $white;
    @include font-size(14);
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    @include transition(.1s);

    &:hover {
        //background: $brandH;
        background: $white;
        border: 1px solid $black;
        color: $gray4;
    }
}